## folders
/build
## note doc gets repeated in the dist directory so it isn't rooted
# doc
# /examples
/node_modules
# /src
# /standalone
# /test

## files
# .eslintignore
# .eslintrc
# .gitignore
# .npmignore
# .travis.yml
# AUTHORS.txt
# CONTRIBUTING.md
# gulpfile.js
# LICENSE.txt
# package.json
# README.md

## standalone env (not handled above)
/standalone/node_modules

## other generated stuff
.DS_Store
.idea
npm-debug.log
