## folders
/dist
## note doc gets repeated in the dist directory so it isn't rooted
# doc
# /lib
/node_modules
# /public
/reports
# /src
# /test
/test/unittests.js
## files
# .eslintignore
# .eslintrc
# .gitignore
# .npmignore
# gulpfile.js
# LICENSE
# package.json
# README.md
# tooth.json

/standalone/public/pubfood.js
/standalone/public/pubfood.min.js

## jenkins generated stuff
env.properties
npm-shrinkwrap.json

## other generated stuff
.DS_Store
.idea
npm-debug.log
