## folders
# /dist
## note doc gets repeated in the dist directory so it isn't rooted
doc
/lib
/node_modules
/public
/reports
/src
/test

## files
.eslintrc
.gitignore
.npmignore
gulpfile.js
# LICENSE
# package.json
# README.md

## generated stuff
.idea
.DS_Store
npm-debug.log
