## folders
# /build
## note doc gets repeated in the dist directory so it isn't rooted
doc
/examples
/jsdoc_template
/node_modules
/src
/standalone
/test

## files
.eslintignore
.eslintrc
.gitignore
.npmignore
.travis.yml
# AUTHORS.txt
# CONTRIBUTING.md
gulpfile.js
# LICENSE.txt
# package.json
# README.md

## standalone env (handled above)
# /standalone/node_modules
# /standalone/public/pubfood.js
# /standalone/public/pubfood.min.js

## other generated stuff
.DS_Store
.idea
npm-debug.log
